*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: rgb(16,42,66);
}

.div,.btn{
  font-family: inherit;
}


.card-title{
  text-align: center;
  letter-spacing: 0.25rem;
  font-size: 3rem;
  font-weight: 600;
}

.card-counter{
  text-align: center;
  padding: 20px 0;
}

.counter{
  font-size: 6rem;
  font-weight: 500;
}

.buttons{
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.btn{
  font-size: 1rem;
  letter-spacing: 3px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: white;
  transition: 0.4s ease-in-out;
}

.btn:hover{
  cursor: pointer;
  background-color: black;
  color: white;
  transition: 0.4s ease-in-out;
}